.dashboard {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
}

.dashboard section {
  padding: 10px;
}

.dashboard .fancy-label {
  letter-spacing: 1px;
  border-bottom: 1px solid;
  margin-bottom: 5px;
  display: inline-block;
  color: #5a8f94;
}

.dashboard .input-file {
  font-size: 12px;
}

.dashboard .title-arranger {
  background-color: #a72696;
  font-weight: bold;
  color: white;
}

.dashboard .title-elasticsearch {
  background-color: #525145;
  color: white;
  display: flex;
  align-items: center;
  font-size: 11px;
}

.dashboard .eshost-input {
  padding: 0 10px;
  border: none;
  outline: none;
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  flex-grow: 1;
}

.dashboard .error {
  background-color: #af2f4c;
  font-weight: bold;
  padding: 10px;
  color: white;
}

.dashboard .row {
  display: flex;
}

.dashboard .warning {
  color: rgb(197, 18, 35);
  font-weight: bold;
  font-size: 12px;
}

.dashboard .type-container {
  margin: 10px 0;
}

.dashboard .type-container label {
  border: none;
  font-size: 14px;
  margin-right: 5px;
}

.dashboard .field-item:hover {
  cursor: pointer;
  background-color: rgb(240, 238, 227);
}
