/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  transform: rotate(-90deg);
}

.tree-view .header {
  color: #2b388f;
}

.tree-view_children.leaf {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.tree-view_children.leaf.selected {
  background: #e7e8ed;
}
.tree-view_children.leaf.header {
  color: #2b388f;
  padding-left: 3px;
}
