/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
  pointer-events: none;
  position: relative;
}

.tree-view_item .label {
  pointer-events: all;
}

/* style for the children nodes container */
.tree-view_children {
  /* padding-left: 16px; */
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  pointer-events: all;
  position: absolute;
  margin-left: 5px;
  top: 4px;
  transform: rotate(90deg);
}

.tree-view_arrow:after {
  font-size: 17px;
  content: '›';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  transform: rotate(0deg);
}

.NestedTreeViewNode {
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  font-size: 13px;
}

.NestedTreeViewNode.selected {
  background: #e7e8ed73;
}

.NestedTreeViewNode.nested .label {
  color: #404c9a;
}

.NestedTreeViewNode.leaf {
  color: #a42c90;
}

.NestedTreeViewNode.depth_0 {
  background-color: #e7e8ed;
  text-transform: uppercase;
  color: #404c9a;
}

.NestedTreeViewNode.depth_0 .tree-view_arrow {
  position: absolute;
  right: 20px;
}

.NestedTreeViewNode.depth_1 {
  border-top: solid 1px #e0e1e6;
}

.NestedTreeViewItem.depth_1 {
  border-top: solid 1px #e0e1e6;
}
