lerna-debug.log
.groovylintrc.json
.vscode/*.log
.vscode/launch.json

**/dist
**/node_modules
**/.DS_Store
**/.turbo
**/*.env*
**/package-lock.json

*.tsbuildinfo

# include, don't ignore
!.env.test
!**/.env.schema

/configs
#/modules/graphql-router/src/admin/**
