.booleanFacetWrapper {
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 0.9em;
}
.booleanFacetAny {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: solid 1px #cacbcf;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.booleanFacetTrue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: solid 1px #cacbcf;
}
.booleanFacetFalse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: solid 1px #cacbcf;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.booleanFacetAny.active,
.booleanFacetTrue.active,
.booleanFacetFalse.active {
  background: #e5f7fd;
  border-color: '#00afed';
}
