@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

div {
  font-family: 'Montserrat', sans-serif;
}

/***********************************/
/* styling for the table component */
/***********************************/
.ReactTable {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
}

.ReactTable .rt-tbody .rt-td {
  font-family: sans-serif;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-tbody .rt-td :first-child {
  font-family: sans-serif;
}

.ReactTable.-striped .rt-th {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacbcf;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-resizable-header-content {
  color: #404c9a;
}

.ReactTable .rt-thead {
  background-color: #edeef1;
}

.ReactTable.-striped .rt-tr.-odd {
  background-color: #f4f5f8;
}

.ReactTable .-pagination {
  height: 64px;
}
.ReactTable .-pagination .-pageJump {
  border: solid 1px #cacbcf;
  border-radius: 10px;
  height: 30px;
  display: flex;
  overflow: hidden;
}
.ReactTable .-pagination_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #74757d;
  border-right: solid 1px #cacbcf;
  min-width: 34px;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  justify-content: center;
}
.ReactTable .-pagination_button.-current {
  background: #f0f1f6;
  color: #009bb8;
}
.ReactTable a {
  color: #90278e;
}
.ReactTable .rt-table {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 64px;
}
.ReactTable .pagination-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  height: 64px;
}

/***********************************/
/** styling for the aggregations ***/
/***********************************/
.aggregation-card {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: white;
  border: solid 1px #d4d6dd;
  border-left: solid 5px;
}
.aggregation-card:nth-child(5n + 1) {
  border-left-color: #a42c90;
}
.aggregation-card:nth-child(5n + 2) {
  border-left-color: #00afed;
}
.aggregation-card:nth-child(5n + 3) {
  border-left-color: #ff9324;
}
.aggregation-card:nth-child(5n + 4) {
  border-left-color: #009bb8;
}
.aggregation-card:nth-child(5n + 5) {
  border-left-color: #d8202f;
}
.aggregation-card .title-wrapper {
  padding-bottom: 7px;
  color: #404c9a;
  border-bottom: solid 1px #e0e1e6;
}
.aggregation-card .title-wrapper.collapsed {
  padding-bottom: 0px;
  border-bottom: none;
}
.aggregation-card .title-wrapper .title {
  color: #404c9a;
  font-weight: bolder;
  font-size: 0.9em;
  font-family: sans-serif;
}
.aggregation-card .bucket {
  padding-top: 5px;
}
.aggregation-card .bucket.collapsed {
  padding-top: 0px;
}
.aggregation-card .bucket-item {
  padding-top: 5px;
  font-size: 0.8em;
}
.aggregation-card .bucket-item .bucket-count {
  border-radius: 5px;
  background-color: rgba(169, 173, 192, 0.3);
  color: #343434;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

/**************************************/
/* styling for the SQONView component */
/**************************************/

.sqon-view {
  background-color: #f4f5f8;
  border: solid 1px #d4d6dd;
  padding: 4px 19px 14px;
}

.sqon-group {
  flex-wrap: wrap;
}

.sqon-group > * {
  margin-top: 10px;
}

.sqon-view-empty {
  display: none;
}

.sqon-bubble,
.sqon-less,
.sqon-more {
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 10.5px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-right: 10px;
  flex: none;
}

.sqon-value {
  background-color: #404c9a;
  color: #fff;
  padding: 0 7px 0 12px;
  margin-right: 4px;
}

.sqon-value:after {
  content: url(x.svg);
  margin-left: 9px;
}

.sqon-value-single {
  margin-right: 10px;
}

.sqon-op {
  font-weight: normal;
  color: #74757d;
  margin-right: 5px;
}

.sqon-field {
  font-weight: 600;
  color: #343434;
  text-transform: uppercase;
  margin-right: 0.3em;
}

.sqon-clear,
.sqon-less,
.sqon-more {
  padding: 0 12px;
  color: #fff;
  background-color: #ffffff;
  color: #008199;
  border: solid 1px #cacbcf;
  text-transform: uppercase;
}

.sqon-less,
.sqon-more {
  margin-right: 6px;
}

.sqon-more {
  font-size: 24px;
  line-height: 0.3em;
  display: block;
  color: #009bb8;
}

.sqon-value-group {
  font-size: 22px;
  line-height: 22px;
  color: #009bb8;
}

.sqon-value-group-start {
  margin-right: 6px;
  margin-left: 8px;
}

.sqon-value-group-end {
  margin-right: 10px;
}
