@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

div {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: #f4f5f8;
}

/***********************************/
/* styling for the table component */
/***********************************/
.ReactTable {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

.ReactTable .rt-tbody .rt-tr-group{
  border-bottom: none
}

.ReactTable .rt-tbody .rt-td {
  font-family: sans-serif;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-tbody .rt-td :first-child {
  font-family: sans-serif;
}

.ReactTable.-striped .rt-th {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacbcf;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-resizable-header-content {
  color: #404c9a;
}

.ReactTable .rt-thead {
    background-color: #edeef1;
}

.ReactTable.-striped .rt-tr.-odd {
  background-color: #f4f5f8;
}

.ReactTable .-pagination {
    height: 64px;
}
.ReactTable .-pagination .-pageJump {
  border: solid 1px #cacbcf;
  border-radius: 10px;
  height: 30px;
  display: flex;
  overflow: hidden;
}
.ReactTable .-pagination_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #74757d;
  border-right: solid 1px #cacbcf;
  min-width: 34px;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  justify-content: center;
}
.ReactTable .-pagination_button.-current {
  background: #f0f1f6;
  color: #009bb8;
}
.ReactTable a {
  color: #90278e;
}
.ReactTable .rt-table {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 64px;
}
.ReactTable .pagination-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  height: 64px;
}


/***********************************/
/** styling for the aggregations ***/
/***********************************/
.aggregation-card{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: white;
  border: solid 1px #d4d6dd;
  border-left: solid 5px;
} .aggregation-card:nth-child(5n+1) {
    border-left-color: #a42c90;
  }
  .aggregation-card:nth-child(5n+2) {
    border-left-color: #00afed;
  }
  .aggregation-card:nth-child(5n+3) {
    border-left-color: #ff9324;
  }
  .aggregation-card:nth-child(5n+4) {
    border-left-color: #009bb8;
  }
  .aggregation-card:nth-child(5n+5) {
    border-left-color: #d8202f;
  }
.aggregation-card .title-wrapper{
  padding-bottom: 7px;
  color: #404c9a;
  border-bottom: solid 1px #e0e1e6;
}
.aggregation-card .title-wrapper .title{
  color: #404c9a;
  font-weight: bolder;
  font-size: 0.9em;
  font-family: sans-serif;
}
.aggregation-card .bucket {
  padding-top: 5px;
}
.aggregation-card .bucket-item{
  padding-top: 5px;
  font-size: 0.8em;
}
.aggregation-card .bucket-item .bucket-count{
	border-radius: 5px;
  background-color: rgba(169, 173, 192, 0.3);
  color: #343434;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}
