.sqon-view {
  background-color: #edf8fb;
  padding: 1.1rem;
}

.sqon-bubble {
  color: #fff;
  padding: 6px;
}
.sqon-value {
  background-color: #d6e02f;
}

.sqon-op {
  background-color: #c73e89;
}

.sqon-field {
  background-color: #3fc5ed;
}

.sqon-clear {
  background-color: #c73e89;
}
.sqon-less {
  padding: 6px 0;
}

.portal {
  flex: none;
}
