.-pageJump {
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.ReactTable .-pagination_button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: lightgrey;
}
.ReactTable .-pagination_button.-current {
  background: green;
}
