.advancedFacetViewWrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.facetViewWrapper {
  display: flex;
  flex-direction: row;
}

.facetViewWrapper .treeViewPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.facetViewWrapper .treeViewPanel .panelHeading {
  display: flex;
  justify-content: space-between;
}

.facetViewWrapper .treeViewPanel .treeView {
  overflow-y: scroll;
  flex: 1;
  margin-right: 5px;
  margin-top: 10px;
}

.facetViewWrapper .facetsPanel {
  flex: 2;
  margin-left: 5px;
  margin-top: 10px;
}

.facetViewWrapper .facetsPanel .facetView {
  height: 100%;
  overflow-y: scroll;
}

.facetViewWrapper .facetsPanel .facetView .facetViewNode {
  padding-left: 20px;
}

.facetViewWrapper {
  font-size: 13px;
}

.facetViewWrapper .bucket-count {
  border-radius: 5px;
  background-color: #e7e8ed;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.facetViewWrapper .bucket-link {
  word-wrap: break-word;
}

.facetViewWrapper .bucket .bucket-item {
  display: block;
  padding: 5px;
  min-width: 25%;
  max-width: 25%;
}

.facetViewWrapper .bucket {
  display: flex;
  flex-wrap: wrap;
}

.facetViewWrapper .bucket .bucket-item:nth-child(4n + 1),
.facetViewWrapper .bucket .bucket-item:nth-child(4n + 2),
.facetViewWrapper .bucket .bucket-item:nth-child(4n + 3) {
  border-bottom: solid 1px #e0e1e6;
  border-right: solid 1px #e0e1e6;
}
.facetViewWrapper .bucket .bucket-item:nth-child(4n) {
  border-bottom: solid 1px #e0e1e6;
}
.facetViewWrapper .bucket .bucket-item:nth-child(1),
.facetViewWrapper .bucket .bucket-item:nth-child(2),
.facetViewWrapper .bucket .bucket-item:nth-child(3),
.facetViewWrapper .bucket .bucket-item:nth-child(4) {
  border-bottom: solid 1px #e0e1e6;
}
