@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

div {
  font-family: 'Montserrat', sans-serif;
}
.portal {
  flex-grow: 1;
}
/***********************************/
/* styling for the table component */
/***********************************/

.ReactTable .rt-thead,
.ReactTable .rt-tbody {
  overflow-y: scroll;
}

.ReactTable {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  flex-grow: 1;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: none;
}

.ReactTable .rt-tbody .rt-td {
  font-family: sans-serif;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-tbody .rt-td :first-child {
  font-family: sans-serif;
}

.ReactTable.-striped .rt-th {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacbcf;
  border-right: 1px solid #cacbcf;
}

.ReactTable .rt-resizable-header-content {
  color: #404c9a;
}

.ReactTable .rt-thead {
  background-color: #edeef1;
}

.ReactTable.-striped .rt-tr.-odd {
  background-color: #f4f5f8;
}

.ReactTable .-pagination {
  height: 64px;
}
.ReactTable .-pagination .-pageJump {
  border: solid 1px #cacbcf;
  border-radius: 10px;
  height: 30px;
  display: flex;
  overflow: hidden;
}
.ReactTable .-pagination_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #74757d;
  border-right: solid 1px #cacbcf;
  min-width: 34px;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  justify-content: center;
}
.ReactTable .-pagination_button.-current {
  background: #f0f1f6;
  color: #009bb8;
}
.ReactTable a {
  color: #90278e;
}
.ReactTable .pagination-bottom {
  background: white;
  height: 64px;
}

/***********************************/
/** styling for the aggregations ***/
/***********************************/
.aggregation-card {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: white;
  border: solid 1px #d4d6dd;
  border-left: solid 5px;
}
.aggregation-card:first-child {
  margin-top: 0;
}
.aggregation-card:nth-child(5n + 1) {
  border-left-color: #a42c90;
}
.aggregation-card:nth-child(5n + 2) {
  border-left-color: #00afed;
}
.aggregation-card:nth-child(5n + 3) {
  border-left-color: #ff9324;
}
.aggregation-card:nth-child(5n + 4) {
  border-left-color: #009bb8;
}
.aggregation-card:nth-child(5n + 5) {
  border-left-color: #d8202f;
}
.aggregation-card .title-wrapper {
  padding-bottom: 7px;
  color: #404c9a;
  border-bottom: solid 1px #e0e1e6;
}
.aggregation-card .title-wrapper.collapsed {
  padding-bottom: 0px;
  border-bottom: none;
}
.aggregation-card .title-wrapper .title {
  color: #404c9a;
  font-weight: bolder;
  font-size: 0.9rem;
  font-family: sans-serif;
}
.aggregation-card .bucket {
  padding-top: 5px;
}
.aggregation-card .bucket.collapsed {
  padding-top: 0px;
}
.aggregation-card .bucket-item {
  padding-top: 5px;
  cursor: pointer;
}
.aggregation-card .bucket-item .bucket-count {
  border-radius: 5px;
  background-color: rgba(169, 173, 192, 0.3);
  color: #343434;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.aggregation-card .showMore-wrapper {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #90278e;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.aggregation-card .showMore-wrapper.more::before {
  margin-top: 3px;
  margin-right: 4px;
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8Y2lyY2xlIGN4PSI2IiBjeT0iNiIgcj0iNiIgZmlsbD0iIzkwMjc4ZSIgLz4gIDxsaW5lIHgxPSI2IiB5MT0iMiIgeDI9IjYiIHkyPSIxMCIgc3R5bGU9InN0cm9rZTp3aGl0ZTsgc3Ryb2tlLXdpZHRoOjIiIC8+ICA8bGluZSB4MT0iMiIgeTE9IjYiIHgyPSIxMCIgeTI9IjYiIHN0eWxlPSJzdHJva2U6d2hpdGU7IHN0cm9rZS13aWR0aDoyIiAvPjwvc3ZnPg==);
}

.aggregation-card .showMore-wrapper.less::before {
  margin-top: 3px;
  margin-right: 4px;
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8Y2lyY2xlIGN4PSI2IiBjeT0iNiIgcj0iNiIgZmlsbD0iIzkwMjc4ZSIgLz4gIDxsaW5lIHgxPSIyIiB5MT0iNiIgeDI9IjEwIiB5Mj0iNiIgc3R5bGU9InN0cm9rZTp3aGl0ZTsgc3Ryb2tlLXdpZHRoOjIiIC8+PC9zdmc+);
}

.aggregation-card .bucket-item,
.aggregation-card .input-range__label {
  font-size: 0.8rem;
}

/**************************************/
/* styling for the SQONView component */
/**************************************/

.sqon-view {
  background-color: #f4f5f8;
  border: solid 1px #d4d6dd;
  padding: 4px 19px 14px;
}

.sqon-group {
  flex-wrap: wrap;
}

.sqon-group > * {
  margin-top: 10px;
}

.sqon-view-empty {
  display: none;
}

.sqon-bubble,
.sqon-less,
.sqon-more {
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 10.5px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-right: 10px;
  flex: none;
}

.sqon-value {
  background-color: #404c9a;
  color: #fff;
  padding: 0 7px 0 12px;
  margin-right: 4px;
  cursor: pointer;
}

.sqon-value:after {
  content: url(data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%228%22%20stroke%3D%22white%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cline%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%228%22%20y2%3D%228%22%20/%3E%0A%20%20%3Cline%20x1%3D%228%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%228%22%20/%3E%0A%3C/svg%3E);
  margin-left: 9px;
}

.sqon-value-single {
  margin-right: 10px;
}

.sqon-op {
  font-weight: normal;
  color: #74757d;
  margin-right: 5px;
}

.sqon-field {
  font-weight: 600;
  color: #343434;
  text-transform: uppercase;
  margin-right: 0.3rem;
}

.sqon-clear,
.sqon-less,
.sqon-more {
  padding: 0 12px;
  color: #fff;
  background-color: #ffffff;
  color: #008199;
  border: solid 1px #cacbcf;
  text-transform: uppercase;
  cursor: pointer;
}

.sqon-less,
.sqon-more {
  margin-right: 6px;
}

.sqon-more {
  font-size: 24px;
  line-height: 0.3rem;
  display: block;
  color: #009bb8;
}

.sqon-value-group {
  font-size: 22px;
  line-height: 22px;
  color: #009bb8;
}

.sqon-value-group-start {
  margin-right: 6px;
  margin-left: 8px;
}

.sqon-value-group-end {
  margin-right: 10px;
}

/***********************************/
/**** styling for the tree view ****/
/***********************************/
.tree-view {
}
.tree-view .tree-view_children {
  margin-left: 20px;
}
.tree-view_item {
  padding-left: 20px;
}
.tree-view .header {
  color: #2b388f;
  /* font-size: 1.2rem; */
  border-top: solid 1px #e0e1e6;
  padding-left: 20px;
}
.tree-view_children.leaf {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}
.tree-view_children.leaf.header {
  color: #2b388f;
  /* font-size: 1.2rem; */
  padding-left: 25px;
}
.tree-view .tree-view_arrow:after {
  content: '›';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 20px;
}
.tree-view .tree-view_arrow {
  transform: rotate(90deg);
  margin-right: 0px;
  color: #009bb8;
}
.tree-view .tree-view_arrow-collapsed {
  transform: rotate(0deg);
}

/**************************************/
/****** styling for the input  ********/
/**************************************/
.inputWrapper .inputIcon {
  margin-right: 10px;
  color: #a9adc0;
}

/**************************************/
/***** styling for the dropdown  ******/
/**************************************/
.dropDownHeader {
  display: flex;
}

.dropDownHeader .dropDownButton {
  border: none;
}

/**************************************/
/*** styling for the Table Toolbar ****/
/**************************************/
.tableToolbar {
  padding: 14px 19px 12px 15px;
}

.tableToolbar .buttonWrapper {
  display: flex;
}

.tableToolbar .buttonWrapper button {
  display: flex;
  background: none;
  border: none;
}

.tableToolbar .inputWrapper {
  border: none;
}

.tableToolbar .group {
  margin-left: 10px;
  display: flex;
}

.tableToolbar .group > * {
  background-color: none;
  display: flex;
  border: solid 1px #cacbcf;
  padding-left: 10px;
  padding-right: 10px;
}

.tableToolbar .group :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tableToolbar .group :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.range-wrapper {
  min-height: 2.7rem;
}

/*********************************************/
/**** styling for the Advanced Facet View ****/
/*********************************************/
.advancedFacetViewWrapper {
  padding: 15px;
}
.advancedFacetViewWrapper .facetViewWrapper {
  margin-top: 15px;
}
.advancedFacetViewWrapper .facetViewWrapper .treeViewPanel {
  background-color: #fafafc;
  border: solid 1px #d4d6dd;
}
.advancedFacetViewWrapper .facetViewWrapper .treeViewPanel .panelHeading {
  background-color: #e7e8ed;
  padding: 10px;
}
.advancedFacetViewWrapper .facetViewWrapper .facetsPanel {
  margin-left: 20px;
}
.advancedFacetViewWrapper .aggregation-card {
  border: none;
}
.facetViewWrapper .facetsPanel .facetView .facetViewNode {
  padding-left: 0px;
  position: relative;
}
.advancedFacetViewWrapper .facetViewNode.depth_1 .aggWrapper {
  border-left: solid 5px;
}
.facetViewNode.depth_1:nth-child(5n + 1) .aggWrapper {
  border-left-color: #a42c90;
}
.facetViewNode.depth_1:nth-child(5n + 2) .aggWrapper {
  border-left-color: #00afed;
}
.facetViewNode.depth_1:nth-child(5n + 3) .aggWrapper {
  border-left-color: #ff9324;
}
.facetViewNode.depth_1:nth-child(5n + 4) .aggWrapper {
  border-left-color: #009bb8;
}
.facetViewNode.depth_1:nth-child(5n + 5) .aggWrapper {
  border-left-color: #d8202f;
}
.advancedFacetViewWrapper .facetViewNode.depth_2 .aggWrapper {
  border-left-color: #e7e8ed;
}
.advancedFacetViewWrapper .facetViewNode.depth_1 .aggWrapper {
  padding-left: 20px;
}
.advancedFacetViewWrapper .facetTitle {
  cursor: pointer;
  padding: 10px;
  background: #e7e8ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advancedFacetViewWrapper .facetTitle .arrow::after {
  content: '\203a';
  color: #404c9a;
  font-weight: normal;
}
.advancedFacetViewWrapper .facetTitle .arrow {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.advancedFacetViewWrapper .facetTitle .arrow.collapsed {
  transform: rotate(0deg);
}
.advancedFacetViewWrapper .facetViewNode.depth_0 .facetTitle {
  padding: 10px;
  padding-left: 20px;
  background: #e7e8ed;
  color: #2b388f;
}
.advancedFacetViewWrapper .facetViewNode.depth_1 .facetTitle {
  padding: 0px;
  padding-right: 11px;
  background: none;
  color: #404c9a;
  font-size: 0.9rem;
}
.aggWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.facetViewNode.depth_1 {
  margin-bottom: 20px;
}
.facetViewNode.depth_1:after {
  pointer-events: none;
  content: '';
  border-bottom: solid 1px #d4d6dd;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: -10px;
}
.advancedFacetViewWrapper
  .aggWrapper.depth_0
  .aggregation-card
  .title-wrapper
  .title {
  font-family: 'Montserrat', sans-serif;
}
.advancedFacetViewWrapper .facetViewNode.depth_0:first-child .aggWrapper {
  margin-top: 0px;
}
.advancedFacetViewWrapper .aggWrapper.depth_0 .aggregation-card .title-wrapper {
  border: none;
  padding: 10px;
  padding-left: 20px;
  background: #e7e8ed;
  color: #2b388f;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.advancedFacetViewWrapper .aggWrapper.depth_1 .aggregation-card .title-wrapper {
  padding: 0px;
  padding-right: 10px;
  background: none;
  color: #404c9a;
  font-size: 0.9rem;
}
.advancedFacetViewWrapper .facetViewNode .aggregation-card {
  padding: 0px;
}
.advancedFacetViewWrapper .facetViewNode .aggregation-card .title-wrapper {
  padding-right: 10px;
}
.advancedFacetViewWrapper .facetViewNode .aggregation-card .bucket {
  padding-right: 10px;
}

/* .facetViewNode.depth_0 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #d4d6dd;
  padding-left: 0px;
}
.advancedFacetViewWrapper .facetViewNode.depth_1 .aggWrapper {
  border-left: solid 5px;
  height: 100%;
}
.facetViewNode.depth_1:nth-child(5n + 1) .aggWrapper {
  border-left-color: #a42c90;
}
.facetViewNode.depth_1:nth-child(5n + 2) .aggWrapper {
  border-left-color: #00afed;
}
.facetViewNode.depth_1:nth-child(5n + 3) .aggWrapper {
  border-left-color: #ff9324;
}
.facetViewNode.depth_1:nth-child(5n + 4) .aggWrapper {
  border-left-color: #009bb8;
}
.facetViewNode.depth_1:nth-child(5n + 5) .aggWrapper {
  border-left-color: #d8202f;
}
.facetViewNode.depth_0 {
  border-left: none;
}
.advancedFacetViewWrapper .facetViewNode.depth_1 {
  border-bottom: none;
}
.advancedFacetViewWrapper .aggWrapper .facetTitle {
  margin-left: 20px;
  color: #404c9a;
  font-weight: bolder;
  font-size: 0.9rem;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.advancedFacetViewWrapper .aggWrapper .facetTitle .arrow::after {
  content: '\203a';
  color: #404c9a;
  font-weight: normal;
}
.advancedFacetViewWrapper .aggWrapper .facetTitle .arrow {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.advancedFacetViewWrapper .aggWrapper .facetTitle .arrow.collapsed {
  transform: rotate(0deg);
}
.advancedFacetViewWrapper .facetViewWrapper .facetsPanel .aggregation-card {
  padding-top: 0px;
  padding-bottom: 0px;
  border-right: none;
  padding-left: 20px;
  border-top: none;
  border-bottom: none;
  margin: 0px;
  border-left: none;
}
.advancedFacetViewWrapper
  .facetViewWrapper
  .facetsPanel
  .aggregation-card
  .title-wrapper {
  border-bottom: none;
} */
