.sqonBuilder {
  font-size: 12px;
  padding: 10px;
}
.sqonBuilder .actionHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.sqonEntry {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #f4f5f8;
  border: solid 1px lightgrey;
  margin-top: 4px;
  margin-bottom: 4px;
}
.sqonEntry.active {
  background: #e4f1e7;
}

.sqonEntry .activeStateIndicator {
  width: 15px;
  min-width: 15px;
  background: #a9adc0;
}
.sqonEntry.active .activeStateIndicator {
  background: #40a75a;
}

.sqonEntry .selectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  padding: 2px;
  border-left: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
}
.sqonEntry.active .selectionContainer {
  background: white;
}

.sqonEntry .sqonView {
  flex: 1;
  padding: 5px;
}

.sqonView .fieldOp {
}
.sqonView .fieldOp .fieldName {
}
.sqonView .fieldOp .opName {
}
.sqonView .fieldOp .opContainer {
  display: inline-block;
  padding: 5px;
  border-right: solid 1px lightgrey;
  white-space: nowrap;
  flex: 1;
}
.sqonView .fieldOp .valueDisplay {
  padding: 5px;
  max-width: 150px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sqonView .pillRemoveButton {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: solid 1px lightgrey;
  cursor: pointer;
}

.sqonView .pill {
  margin: 1px;
  display: inline-flex;
  border: solid 1px lightgrey;
  border-radius: 10px;
  background: white;
}
.sqonView .sqonReferenceIndex {
  padding: 5px;
}
