events {

}

http {
    server {
        listen ${PORT};

        location / {
            root /app/arranger-admin;
        }

        location /admin/graphql {
            proxy_pass ${REACT_APP_ARRANGER_ADMIN_ROOT}/admin/graphql;
        }
    }
}
